* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* debug*/



h1 {
    height: 200px;
}

.colonne_due {
    background-color: bisque;
    
}

.plan_selection, h2 {
    background-color:   brown;
}


.plans {
    height: 1000px;
}

.first_plan {
    background-color: aqua;
}

.second_plan {
    background-color: chartreuse;
}

.third_plan {
    background-color: crimson;
}

.forth_plan {
    height: 150px;
    background-color: teal;
}

.box_options {
    background-color: darkcyan;
    height: 700px;
}

.option {
    height: calc(100% / 2);
    background-color: blanchedalmond;
    border: dashed 3px black;
}


.quinta_sec {
    background-color: darkcyan;
    margin-bottom: 200px;
}
.quinta_sec_interno {
    background-color: crimson;
}

.sezioni_clienti {
    background-color: aquamarine;

}


.clienti_sx {
    background-color: cornflowerblue;
    
}

.clienti_centro {
    background-color: bisque;
}

.clienti_dx {
    background-color: burlywood;
}

.cliente {
    border: dashed 5px black;
}

.cliente_desc {
    border: dashed 5px black;
}

.cliente_desc {
    height: 700px;
}

.prova_gratuita {
    background-color: blue;
}

.domanda {
    height: 100px;
    background-color: blanchedalmond;
    border: dashed 5px black;
}

.colonna {
    border: dashed 3px orange;
    height: 600px;
}

.lingua {
    height: 50px;
    background-color: darkred;
    width: 100px;
}
/* fine debug*/

header {
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    
}

.nav_head {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_sx {
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.header_dx {
    width: 50%;
    height: 70px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 5px;
}

.lista_head {
    list-style-type: none;
}

.lista_head img {
    padding: 15px;
}
.lista_head a {
    text-decoration: none;
    color: black;
    margin: 15px;
}

.bottone {
    background-color: rgb(53, 88, 231);
    border: solid 1px rgb(53, 88, 231);
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

main {
    padding-top: 70px;
}

.prima_sec {
    height: 680px;
    width: 100%;
    background-color: #b4cfe5;
}

.prima_sec_interno {
    width: 1170px;
    margin: auto;
    padding: 80px 0;
}

.prima_sec_interno h1 {
    max-width: 1170px;
    font-size: 55px;
}

.colonne_due {
    width: 100%;
    display: flex;
}

.paragrafo {
    width: 30%;
}

.paragrafo p {
    padding-bottom: 50px;
}

.paragrafo .bottone {
    padding: 10px;
}
.null {
    padding-top: 50px;
    padding-bottom: 50px;
}

.arrow {
    font-size: 50px;
    padding-bottom: 50px;
}

.image {
    width: 70%;
}

.img {
    width: 100%;
}

.larghezza_small {
    width: 1000px;
    margin: auto;
    padding: 80px 0;
}

 h2 {
    padding-top: 70px;
    font-size: 30px;
    padding-bottom: 30px;
}

.circle_blue {
    color: rgba(57, 90, 248, 0);
    border: solid 5px rgb(57, 90, 248);
    border-radius: 50%;
    font-size: 12px;
}

.select_plan {
    padding-bottom: 50px;

}
.circle_grey {
    color: rgb(222, 222, 225);
    font-size: 18px;
    margin-left: 50px;
}

.desc_plan {
    display: flex;
    justify-content: space-between;
}

.plans {
    width: 30%;
}

.first_plan {

}

.tipo_plan{
    text-align: center;
    padding: 10px 0;
    border: solid 1px black;
}

.info {
    padding: 30px;

}

.specifiche {
    position: relative;
    padding: 10px;
}

.info_ico {
    top: 13px;
    left: -10px;
    position: absolute;
}

.resize {
}


.second_plan {

}

.third_plan {

}

.forth_plan {
    width: calc(1000px - 40px);
    margin: 70px auto;
}

.terza_sec {

}

.box_options {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.option {
    width: calc(100% / 3);
}

.sezioni_clienti {
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.col3 {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.clienti_sx {
    display: flex;
    flex-wrap: wrap;
}

.clienti_centro {
    
}

.clienti_dx {
    display: flex;
    flex-wrap: wrap;
}

.cliente {
    width: calc(100% / 2);
    height: calc(100% /2);
}

.giu {
    align-items: flex-end;
    justify-content: flex-start;
}

.cliente_desc {
    height: 100%;
    width: 100%;
}


.prova_gratuita {
    width: 100%;
}

.domanda {
    width: 100%;
}

footer {
    background-color: black;
}

.link_vari {
    display: flex;
    width: 1170px;
    margin: auto;
    padding-top: 30px;
}

.colonna {
    width: calc(100% / 5);
    padding: 20px;
}

.contiene_lingue {
    width: 1170px;
    padding-top: 40px;
    margin: auto;
    padding-bottom: 100px;
}